// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.bg-purple {
    background-color: #6f42c1;
}

.medium {
    font-size: 14px;
}

.mt-8,
.my-8 {
    margin-top: 8px !important;
}

.force-right {
    right: 15px;
}
